In [1]:
import pandas as pd

In [2]:
from google.cloud import bigquery

In [3]:
client = bigquery.Client()

query = """
SELECT ano, id_municipio, sigla_uf, abrangencia, tipo_servico, natureza_juridica, populacao_atendida_agua, populacao_atentida_esgoto, populacao_urbana, populacao_urbana_atendida_agua, populacao_urbana_atendida_esgoto, extensao_rede_agua, extensao_rede_esgoto, volume_agua_produzido, volume_agua_tratada_eta, volume_agua_consumido, volume_esgoto_coletado, volume_esgoto_tratado,  quantidade_ligacao_total_agua, quantidade_ligacao_total_esgoto
FROM basedosdados.br_mdr_snis.prestador_agua_esgoto
WHERE ano >= 2012 and ano < 2022;
"""

df_saneamento = client.query(query).to_dataframe()

In [4]:
# verifica anos disponiveis
df_saneamento['ano'].sort_values().unique()

<IntegerArray>
[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Length: 10, dtype: Int64

In [5]:
# entendo dados
print(df_saneamento.info())
print('Descrição:\n', df_saneamento.describe())
print('Primeiras linhas:\n', df_saneamento.head())
print('últimas linhas:\n', df_saneamento.tail())
print('Shape:\n', df_saneamento.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56455 entries, 0 to 56454
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ano                               56455 non-null  Int64
 1   id_municipio                      56455 non-null  object
 2   sigla_uf                          56455 non-null  object
 3   abrangencia                       56455 non-null  object
 4   tipo_servico                      56455 non-null  object
 5   natureza_juridica                 56455 non-null  object
 6   populacao_atendida_agua           52133 non-null  Int64
 7   populacao_atentida_esgoto         24976 non-null  Int64
 8   populacao_urbana                  56455 non-null  Int64
 9   populacao_urbana_atendida_agua    52124 non-null  Int64
 10  populacao_urbana_atendida_esgoto  24977 non-null  Int64
 11  extensao_rede_agua                52155 non-null  float64
 12  extensao_rede_esgoto              24962 non-null  float64
 13  volume_agua_produzido             52185 non-null  float64
 14  volume_agua_tratada_eta           52190 non-null  float64
 15  volume_agua_consumido             52185 non-null  float64
 16  volume_esgoto_coletado            24993 non-null  float64
 17  volume_esgoto_tratado             24998 non-null  float64
 18  quantidade_ligacao_total_agua     52163 non-null  Int64
 19  quantidade_ligacao_total_esgoto   24978 non-null  Int64
dtypes: Int64(8), float64(7), object(5)
memory usage: 9.0+ MB
None
Descrição:
                ano  populacao_atendida_agua  populacao_atentida_esgoto  \
count      56455.0                  52133.0                    24976.0
mean   2016.587937             32023.971995               41686.120075
std       2.882278            218285.141067              279527.631368
min         2012.0                      0.0                        0.0
25%         2014.0                   3195.0                     2860.0
50%         2017.0                   6944.0                     7211.0
75%         2019.0                  17425.0                   20099.25
max         2021.0               12396372.0                 12396372.0

       populacao_urbana  populacao_urbana_atendida_agua  \
count           56455.0                         52124.0
mean       33473.248605                    30539.538792
std       235388.033827                   217532.396693
min               162.0                             0.0
25%              3132.0                         2682.75
50%              6894.0                          6011.5
75%             17236.0                        15664.25
max          12284940.0                      12284940.0

       populacao_urbana_atendida_esgoto  extensao_rede_agua  \
count                           24977.0        52155.000000
mean                       41010.714497          122.522904
std                       278749.525456          478.008942
min                                 0.0            0.000000
25%                              2611.0           17.630000
50%                              6726.0           37.030000
75%                             19218.0           90.000000
max                          12284940.0        23195.260000

       extensao_rede_esgoto  volume_agua_produzido  volume_agua_tratada_eta  \
count          24962.000000           5.218500e+04             5.219000e+04
mean             123.853889           2.727335e+03             2.113324e+03
std              491.755600           2.015959e+04             1.848011e+04
min                0.000000           0.000000e+00             0.000000e+00
25%               13.270000           2.007500e+02             0.000000e+00
50%               31.970000           4.590500e+02             1.888200e+02
75%               86.945000           1.284780e+03             7.951325e+02
max            18361.660000           1.383097e+06             1.328666e+06

       volume_agua_consumido  volume_esgoto_coletado  volume_esgoto_tratado  \
count           5.218500e+04            24993.000000           24998.000000
mean            2.011505e+03             2228.558364            1648.165276
std             1.907791e+04            14823.814285           12552.923746
min             0.000000e+00                0.000000               0.000000
25%             1.449000e+02              121.840000               0.000000
50%             3.200000e+02              346.520000             150.575000
75%             8.498300e+02             1039.390000             619.920000
max             1.329177e+06           574469.440000          543833.640000

       quantidade_ligacao_total_agua  quantidade_ligacao_total_esgoto
count                        52163.0                          24978.0
mean                    10622.062266                     12395.497878
std                     60338.288629                     70708.288189
min                              0.0                              0.0
25%                           1350.0                           1080.0
50%                           2806.0                           2632.0
75%                           6735.0                           7279.5
max                        3755238.0                        3294368.0
Primeiras linhas:
     ano id_municipio sigla_uf abrangencia   tipo_servico  \
0  2021      2910859       BA       Local  Esgotos
1  2020      3200508       ES       Local  Esgotos
2  2019      3201506       ES       Local  Agua e Esgoto
3  2019      5205109       GO       Local  Agua e Esgoto
4  2020      5205471       GO       Local  Agua e Esgoto

              natureza_juridica  populacao_atendida_agua  \
0  Administracao publica direta                     <NA>
1  Administracao publica direta                     <NA>
2                     Autarquia                   122400
3                     Autarquia                   108823
4                     Autarquia                     8804

   populacao_atentida_esgoto  populacao_urbana  \
0                       7518              8792
1                       1500              5240
2                     104443            107823
3                      65294            101811
4                       7767              8804

   populacao_urbana_atendida_agua  populacao_urbana_atendida_esgoto  \
0                            <NA>                              7518
1                            <NA>                              1500
2                          107712                            104442
3                          101811                             65294
4                            8804                              7767

   extensao_rede_agua  extensao_rede_esgoto  volume_agua_produzido  \
0                 NaN                 25.80                    NaN
1                 NaN                  1.90                    NaN
2              340.00                210.00               10707.00
3              502.32                360.69                9834.35
4               88.99                 91.30                2301.00

   volume_agua_tratada_eta  volume_agua_consumido  volume_esgoto_coletado  \
0                      NaN                    NaN                  100.00
1                      NaN                    NaN                   50.00
2                 10634.00                6545.00                 8419.00
3                  6744.35                4814.26                 3034.19
4                  2010.00                1645.00                  943.00

   volume_esgoto_tratado  quantidade_ligacao_total_agua  \
0                   0.00                           <NA>
1                  40.00                           <NA>
2                  44.00                          32246
3                2414.86                          46014
4                 943.00                           4495

   quantidade_ligacao_total_esgoto
0                             3583
1                              550
2                            27341
3                            27810
4                             3469
últimas linhas:
         ano id_municipio sigla_uf abrangencia   tipo_servico  \
56450  2015      2411809       RN       Local  Esgoto
56451  2012      4307609       RS    Regional  Agua e Esgoto
56452  2014      4213005       SC       Local  Esgoto
56453  2014      2806107       SE       Local  Esgoto
56454  2014      3549300       SP       Local  Agua e Esgoto

                                       natureza_juridica  \
56450                       Administracao publica direta
56451  Sociedade de economia mista com administracao ...
56452                       Administracao publica direta
56453                       Administracao publica direta
56454                       Administracao publica direta

       populacao_atendida_agua  populacao_atentida_esgoto  populacao_urbana  \
56450                     <NA>                       2187              2423
56451                    32954                       1363             42579
56452                     <NA>                        759              1811
56453                     <NA>                      10013              7194
56454                     1739                       1739              1739

       populacao_urbana_atendida_agua  populacao_urbana_atendida_esgoto  \
56450                            <NA>                              2187
56451                           32954                              1363
56452                            <NA>                               759
56453                            <NA>                              7194
56454                            1739                              1739

       extensao_rede_agua  extensao_rede_esgoto  volume_agua_produzido  \
56450                 NaN                  11.7                    NaN
56451              145.99                   7.2                    0.0
56452                 NaN                   7.2                    NaN
56453                 NaN                   7.0                    NaN
56454               61.00                  20.0                  892.0

       volume_agua_tratada_eta  volume_agua_consumido  volume_esgoto_coletado  \
56450                      NaN                    NaN                    93.0
56451                      0.0                 1633.4                    61.0
56452                      NaN                    NaN                    49.0
56453                      NaN                    NaN                   500.0
56454                      0.0                   52.0                    57.0

       volume_esgoto_tratado  quantidade_ligacao_total_agua  \
56450                  93.00                           <NA>
56451                  60.86                          10995
56452                   0.00                           <NA>
56453                 500.00                           <NA>
56454                   0.00                            892

       quantidade_ligacao_total_esgoto
56450                              964
56451                              462
56452                              310
56453                              200
56454                              892
Shape:
 (56455, 20)

In [6]:
# normatizando dataframe
for col in df_saneamento.select_dtypes(include='object').columns:
  df_saneamento[col] = df_saneamento[col].str.strip().str.lower()

In [8]:
#verificando nulos
df_saneamento.isnull().sum().sort_values(ascending=False)

extensao_rede_esgoto                31493
populacao_atentida_esgoto           31479
populacao_urbana_atendida_esgoto    31478
quantidade_ligacao_total_esgoto     31477
volume_esgoto_coletado              31462
volume_esgoto_tratado               31457
populacao_urbana_atendida_agua       4331
populacao_atendida_agua              4322
extensao_rede_agua                   4300
quantidade_ligacao_total_agua        4292
volume_agua_produzido                4270
volume_agua_consumido                4270
volume_agua_tratada_eta              4265
tipo_servico                            0
natureza_juridica                       0
abrangencia                             0
populacao_urbana                        0
id_municipio                            0
sigla_uf                                0
ano                                     0
dtype: int64

In [9]:
# tratando nulos. Existe municipios com dois ou mais prestadores de serviço, e só aprece informação do serviço prestado por cada um
df_saneamento.fillna(0, inplace=True)

In [10]:
# verificar tratamento de nulos
df_saneamento.isnull().sum().sort_values(ascending=False)

ano                                 0
id_municipio                        0
quantidade_ligacao_total_agua       0
volume_esgoto_tratado               0
volume_esgoto_coletado              0
volume_agua_consumido               0
volume_agua_tratada_eta             0
volume_agua_produzido               0
extensao_rede_esgoto                0
extensao_rede_agua                  0
populacao_urbana_atendida_esgoto    0
populacao_urbana_atendida_agua      0
populacao_urbana                    0
populacao_atentida_esgoto           0
populacao_atendida_agua             0
natureza_juridica                   0
tipo_servico                        0
abrangencia                         0
sigla_uf                            0
quantidade_ligacao_total_esgoto     0
dtype: int64

In [11]:
# verificação de duplicados
df_saneamento.duplicated().sum()

0

In [12]:
# padronizar coluna tipo_servico
df_saneamento['tipo_servico'] = df_saneamento['tipo_servico'].replace({'esgotos': 'esgoto'})

df_saneamento['tipo_servico'].unique()

array(['esgoto', 'agua e esgoto', 'agua'], dtype=object)

In [13]:
# buscando outro conjunto de dados
query_municipios = """
SELECT `Código Município Completo` AS id_municipio_ibge, `Nome_Município` AS `nome_municipio`
FROM `saneamentobasicobrasil-456115.saneamento_br.municipios_ibge`
"""
df_municipios = client.query(query_municipios).to_dataframe()

In [14]:
# nortatizando tipos
df_saneamento['id_municipio'] = df_saneamento['id_municipio'].astype(int)

df_saneamento = df_saneamento.merge(df_municipios, left_on='id_municipio', right_on='id_municipio_ibge', how='left')

In [15]:
pip install pandas-gbq

Requirement already satisfied: pandas-gbq in /usr/local/lib/python3.10/dist-packages (0.26.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (69.5.1)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (1.4.2)
Requirement already satisfied: numpy>=1.18.1 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (1.26.4)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (2.2.2)
Requirement already satisfied: pyarrow>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (17.0.0)
Requirement already satisfied: pydata-google-auth>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (1.9.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (2.19.2)
Requirement already satisfied: google-auth>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (2.27.0)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (1.2.1)
Requirement already satisfied: google-cloud-bigquery<4.0.0dev,>=3.4.2 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (3.25.0)
Requirement already satisfied: packaging>=22.0.0 in /usr/local/lib/python3.10/dist-packages (from pandas-gbq) (24.2)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.66.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.25.5)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.25.0)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth>=2.13.0->pandas-gbq) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth>=2.13.0->pandas-gbq) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq) (1.3.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas-gbq) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas-gbq) (2.7.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas-gbq) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.4->pandas-gbq) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.4->pandas-gbq) (2024.2)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas-gbq) (1.69.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas-gbq) (1.62.3)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas-gbq) (1.6.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas-gbq) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2024.12.14)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq) (3.2.2)

In [17]:
from pandas_gbq import to_gbq

# salvar
to_gbq(df_saneamento,
       destination_table='saneamento_br.dado_saneamento_limmpos', project_id='saneamentobasicobrasil-456115', if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 6043.67it/s]